@model TwoFactorAuthentication
@{
   ViewData["Title"] = "Two-factor authentication";
   ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}
   <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
         <!-- Default box -->
         <div class="box">
            <div class="box-header with-border">
               <h3 class="box-title text-primary"><i class="fa fa-users"></i> @ViewData["Title"]</h3>
               <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                     <i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                     <i class="fa fa-times"></i>
                  </button>
               </div>
            </div>
         </div>
         <div class="box-body">
               @if (Model.Is2faEnabled)
               {
                  if (Model.RecoveryCodesLeft == 0)
                  {
                     <div class="alert alert-danger">
                        <strong>You have no recovery codes left.</strong>
                        <p>You must <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                     </div>
                  }
                  else if (Model.RecoveryCodesLeft == 1)
                  {
                     <div class="alert alert-danger">
                        <strong>You have 1 recovery code left.</strong>
                        <p>You can <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                     </div>
                  }
                  else if (Model.RecoveryCodesLeft <= 3)
                  {
                     <div class="alert alert-warning">
                        <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                        <p>You should <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                     </div>
                  }

                  <a asp-action="Disable2faWarning" class="btn btn-default">Disable 2FA</a>
                  <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Reset recovery codes</a>
               }

               <h3>Authenticator app</h3>
               <hr />
               <p style="font-size: 12px; font-family:Verdana">
                  This process disables 2FA until you verify your authenticator app and will also reset your 2FA recovery codes.
                  If you do not complete your authenticator app configuration you may lose access to your account.
               </p>
               <br />
               @if (!Model.HasAuthenticator)
               {
                  <a asp-action="EnableAuthenticator" class="btn btn-default">Add authenticator app</a>
               }
               else
               {
                  <a asp-action="EnableAuthenticator" class="btn btn-default">Configure authenticator app</a>
                  <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Reset authenticator key</a>
               }
            </div>
               <div class="box-footer">

               </div>
      </section>
      </div>
      @section Scripts {
         @await Html.PartialAsync("_ValidationScriptsPartial")
      }
