@using Microsoft.AspNetCore.Http;
@using GeraFin.Models.ViewModels.Dashboard;
@model MailMessage

@inject GeraFin.DAL.DataAccess.ApplicationDbContext context
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    int BranchId = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetInt32("_BranchId"));
    int Day = DateTime.Now.Day;
    UserProfile Profile = context.UserProfile.SingleOrDefault(x => x.Email.Equals(User.Identity.Name));
    List<UserTasks> userTasks = context.UserTasks.Where(x => x.UserId.Equals(Profile.UserProfileId) && x.MarkCompleted == false).ToList();
    List<Specials> Specials = context.Specials.Where(x => x.BranchId.Equals(BranchId) && x.Expired.Equals(false)).ToList();
    List<PurchaseOrder> purchaseOrders = context.PurchaseOrder.Where(x => x.BranchId.Equals(BranchId)).Take(5).OrderByDescending(x => x.PurchaseOrderId).ToList();
    List<DailyIssues> dailyIssues = context.DailyIssues.Where(x => x.BranchId.Equals(BranchId)).Take(5).OrderByDescending(x => x.DailyIssuesId).ToList();
    List<DailyIncome> dailyIncome = context.DailyIncome.Where(x => x.BranchId.Equals(BranchId)).Take(5).OrderByDescending(x => x.SalesOrderId).ToList();
    List<BranchGP> branchGP = context.BranchGP.Where(x => x.BranchId.Equals(BranchId) && x.Day <= Day).Take(5).OrderByDescending(x => x.GPId).ToList();
}

@{
    ViewData["Title"] = "Compose";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content-header" id="content-Page-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/Branch/Index">@ViewData["Title"]</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <a href="/MailBox/Inbox" class="btn btn-primary btn-block margin-bottom">Back to Inbox</a>
                <div class="box box-solid">
                    <div class="box-header with-border">

                        <h3 class="box-title">Folders</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">

                            <li>
                                <a href="/MailBox/Inbox">
                                    <i class="fa fa-inbox"></i> Inbox
                                    <span class="label label-primary pull-right">12</span>
                                </a>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-envelope-o"></i> Sent</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-file-text-o"></i> Drafts</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-trash-o"></i> Trash</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

                <!-- /. box -->
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Labels</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Compose New Message</h3>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- form start -->
                        <form class="form-horizontal" asp-action="SendEmail" asp-controller="MailBox" method="post">

                            <div class="form-group">
                                <input class="form-control" name="MessageTo" id="MessageTo" placeholder="MessageTo:">
                            </div>

                            <div class="form-group">
                                <input class="form-control" name="Subject" id="Subject" placeholder="Subject:">
                            </div>

                            <div class="form-group">
                                <ul class="wysihtml5-toolbar">
                                    <li class="dropdown">
                                        <a class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-font"></span>
                                            <span class="current-font">Normal text</span>
                                            <b class="caret"></b>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" tabindex="-1" href="javascript:;" unselectable="on">Normal text</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Heading 1</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Heading 2</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Heading 3</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" tabindex="-1" href="javascript:;" unselectable="on">Heading 4</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" tabindex="-1" href="javascript:;" unselectable="on">Heading 5</a></li>
                                            <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" tabindex="-1" href="javascript:;" unselectable="on">Heading 6</a></li>
                                        </ul>

                                    </li>

                                    <li>
                                        <div class="btn-group">
                                            <a class="btn  btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on">Bold</a>
                                            <a class="btn  btn-default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Italic</a>
                                            <a class="btn  btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Underline</a>
                                            <a class="btn  btn-default" data-wysihtml5-command="small" title="CTRL+S" tabindex="-1" href="javascript:;" unselectable="on">Small</a>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="btn  btn-default" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote" data-wysihtml5-display-format-name="false" tabindex="-1" href="javascript:;" unselectable="on">
                                            <span class="glyphicon glyphicon-quote"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="btn-group">
                                            <a class="btn  btn-default" data-wysihtml5-command="insertUnorderedList" title="Unordered list" tabindex="-1" href="javascript:;" unselectable="on">
                                                <span class="glyphicon glyphicon-list"></span>
                                            </a>

                                            <a class="btn  btn-default" data-wysihtml5-command="insertOrderedList" title="Ordered list" tabindex="-1" href="javascript:;" unselectable="on">
                                                <span class="glyphicon glyphicon-th-list"></span>
                                            </a>

                                            <a class="btn  btn-default" data-wysihtml5-command="Outdent" title="Outdent" tabindex="-1" href="javascript:;" unselectable="on">
                                                <span class="glyphicon glyphicon-indent-right"></span>
                                            </a>

                                            <a class="btn  btn-default" data-wysihtml5-command="Indent" title="Indent" tabindex="-1" href="javascript:;" unselectable="on">
                                                <span class="glyphicon glyphicon-indent-left"></span>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="bootstrap-wysihtml5-insert-link-modal modal fade" data-wysihtml5-dialog="createLink">
                                            <div class="modal-dialog ">

                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <a class="close" data-dismiss="modal">×</a>
                                                        <h3>Insert link</h3>
                                                    </div>

                                                    <div class="modal-body">

                                                        <div class="form-group">
                                                            <input value="http://" class="bootstrap-wysihtml5-insert-link-url form-control" data-wysihtml5-dialog-field="href">
                                                        </div>

                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked="">Open link in new window
                                                            </label>
                                                        </div>

                                                    </div>

                                                    <div class="modal-footer">
                                                        <a class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel" href="#">Cancel</a>
                                                        <a href="#" class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save">Insert link</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <a class="btn  btn-default" data-wysihtml5-command="createLink" title="Insert link" tabindex="-1" href="javascript:;" unselectable="on">
                                            <span class="glyphicon glyphicon-share"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="bootstrap-wysihtml5-insert-image-modal modal fade" data-wysihtml5-dialog="insertImage">
                                            <div class="modal-dialog ">

                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <a class="close" data-dismiss="modal">×</a>
                                                        <h3>Insert image</h3>
                                                    </div>

                                                    <div class="modal-body">

                                                        <div class="form-group">
                                                            <input value="http://" class="bootstrap-wysihtml5-insert-image-url form-control" data-wysihtml5-dialog-field="src">
                                                        </div>

                                                    </div>

                                                    <div class="modal-footer">
                                                        <a class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel" href="#">Cancel</a>
                                                        <a class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save" href="#">Insert image</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn  btn-default" data-wysihtml5-command="insertImage" title="Insert image" tabindex="-1" href="javascript:;" unselectable="on">
                                            <span class="glyphicon glyphicon-picture"></span>
                                        </a>
                                    </li>
                                </ul>

                                <textarea name="compose-textarea" id="compose-textarea" placeholder="compose-textarea" class="form-control" style="height: 300px;"></textarea>

                            </div>

                            <div class="form-group">
                                <div class="btn btn-default btn-file">
                                    <i class="fa fa-paperclip"></i> Attachment
                                    <input type="file" name="attachment">
                                </div>
                                <p class="help-block">Max. 32MB</p>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="border-left: 1px solid;">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
                        </div>
                        <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /. box -->

            </div>
        </div>
    </section>
</div>

<!-- /.content-wrapper -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}

@section Styles{
    <style>
        .datepicker datepicker-inline {
            width: 100% !important;
        }
    </style>
}
