<section class="content-header" id="content-Page-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">@ViewData["Title"]</a></li>
    </ol>
</section>